body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  background-image: url(https://cdn.dribbble.com/users/4467/screenshots/1570803/beach-party.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

@keyframes pulse {
/*  0% {height:scale(1); width:scale(1);}
  50% {height:scale(2); width:scale(2);}
  100% {height:scale(1); width:scale(1);}*/
/*  0% {border-radius:10px;}
  50% {border-radius:0px;}
  100% {border-radius:10px;}*/
  0% {transform:scale(0.25);}
  50% {transform:scale(0.5);}
  100% {transform:scale(0.25);}
}

@keyframes rotate {
  from {transform:rotate(0deg);}
  40% {transform:rotate(-50deg);}
  80% {transform:rotate(0deg);}
  to {transform:rotate(0deg);}
}